div {
	border-style: solid;
}

.nav {
	padding: 20px 2px 20px 0px;
	background-color: red; 
}

.nav ul {
	list-style-type: none;
	margin-top: 0px
}

.nav ul li {
	float: left;
}

.nav ul li a{
	color: white;
	text-decoration: none;
}

.nav ul li a:hover {
	color: red;
}